{
  "presets": ["@vue/app"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "markdown",
          "css",
          "markup",
          "json",
          "bash",
          "sass",
          "python",
          "typescript",
          "java",
          "less",
          "php",
          "pug",
          "jsx",
          "c",
          "ruby",
          "rust",
          "dart",
          "stylus",
          "swift",
          "yaml",
          "sql"
        ],
        "plugins": [
          "autoloader",
          "line-numbers",
          "command-line",
          "show-language",
          "match-braces",
          "copy-to-clipboard"
        ],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
