{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "electron": "11"
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "allExtensions": true,
        "allowNamespaces": true
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "prismjs",
      {
        "languages": [
          "typescript",
          "javascript",
          "markdown",
          "css",
          "json",
          "bash",
          "python",
          "sass",
          "java",
          "less",
          "php",
          "jsx",
          "c",
          "ruby",
          "rust",
          "dart",
          "stylus",
          "swift",
          "yaml",
          "sql"
        ],
        "plugins": [
          "autoloader",
          "line-numbers",
          "command-line",
          "show-language",
          "match-braces",
          "copy-to-clipboard"
        ],
        "css": true
      }
    ]
  ]
}
