{
  "root": true,
  "env": { "node": true },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": ["plugin:vue/essential", "plugin:import/warnings"],
  "rules": {
    "comma-style": "warn",
    "comma-spacing": "warn",
    "comma-dangle": ["warn", "only-multiline"],
    "spaced-comment": "warn",
    "indent": ["warn", 2],
    "semi": ["warn", "always"],
    "eqeqeq": ["warn", "always"],
    "quotes": ["warn", "double"],
    "func-names": ["warn"],
    "quote-props": ["warn", "consistent"],
    "keyword-spacing": ["warn", { "before": true }],
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "no-mixed-spaces-and-tabs": ["warn"],
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "no-restricted-syntax": ["warn", "WithStatement", "BinaryExpression[operator='in']"],
    "no-unused-expressions": [
      "warn",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "operator-linebreak": [
      "warn",
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ],
    "max-len": 0,
    "global-require": 0,
    "object-curly-newline": 0,
    "prefer-destructuring": 0,
    "arrow-body-style": 0,
    "consistent-return": 0,
    "function-paren-newline": 0,
    "implicit-arrow-linebreak": 0,
    "space-before-function-paren": [
      "warn",
      { "anonymous": "never", "named": "never", "asyncArrow": "always" }
    ],
    "no-console": [0, { "allow": ["info", "warn", "error"] }],
    "no-undef": 0,
    "no-bitwise": 0,
    "no-lonely-if": 0,
    "no-else-return": 0,
    "no-unused-vars": 0,
    "no-param-reassign": 0,
    "no-unneeded-ternary": 0,
    "class-methods-use-this": 0,
    "vue/script-indent": ["warn", 2, { "baseIndent": 0 }]
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "indent": 0
      }
    }
  ]
}
