{
  "root": true,
  "env": { "node": true },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "comma-style": "warn",
    "comma-spacing": "warn",
    "comma-dangle": ["warn", "only-multiline"],
    "spaced-comment": "warn",
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "semi": ["warn", "always"],
    "eqeqeq": ["warn", "always"],
    "quotes": ["warn", "double"],
    "func-names": ["warn"],
    "quote-props": ["warn", "consistent"],
    "keyword-spacing": ["warn", { "before": true }],
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "no-mixed-spaces-and-tabs": ["warn"],
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "no-restricted-syntax": ["warn", "WithStatement", "BinaryExpression[operator='in']"],
    "no-unused-expressions": [
      "warn",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "operator-linebreak": [
      "warn",
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ],
    "space-before-function-paren": [
      "warn",
      { "anonymous": "never", "named": "never", "asyncArrow": "always" }
    ],
    "no-console": [0, { "allow": ["info", "warn", "error"] }],
    "no-unused-vars": 0,
    "no-param-reassign": ["warn", { "props": false }],
    "vue/script-indent": ["warn", 2, { "baseIndent": 0 }],
    "vue/experimental-script-setup-vars": 0,
    "import/extensions": [
      "warn",
      "always",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/external-module-folders": ["node_modules"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      },
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".js", ".ts", ".vue"]
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "indent": 0
      }
    }
  ]
}
