{
  "root": true,
  "env": {
    "node": true
  },
  "globals": {
    "NodeJS": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "ignorePatterns": ["node_modules/**", "src/library/**", "script/**", "dist/**", "public/**"],
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "comma-style": "warn",
    "comma-spacing": "warn",
    "comma-dangle": ["warn", "only-multiline"],
    "spaced-comment": "warn",
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "semi": ["warn", "always"],
    "eqeqeq": ["warn", "always"],
    "quotes": ["warn", "double"],
    "func-names": ["warn"],
    "quote-props": ["warn", "consistent"],
    "keyword-spacing": ["warn", { "before": true }],
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "no-mixed-spaces-and-tabs": ["warn"],
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "no-restricted-syntax": ["warn", "WithStatement", "BinaryExpression[operator='in']"],
    "no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true }],
    "operator-linebreak": ["warn", "after", { "overrides": { "?": "before", ":": "before" } }],
    "space-before-function-paren": ["warn", { "anonymous": "never", "named": "never", "asyncArrow": "always" }],
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "no-unused-vars": "off",
    "no-param-reassign": ["warn", { "props": false }],
    "vue/script-indent": ["warn", 2, { "baseIndent": 0 }],
    "vue/experimental-script-setup-vars": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/external-module-folders": ["node_modules"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"],
        "moduleDirectory": ["node_modules", "src/"]
      },
      "alias": {
        "map": [
          ["@", "./src"],
          ["&", "./public"],
          ["monaco-editor", "monaco-editor/esm/vs/editor/editor.api"]
        ],
        "extensions": [".js", ".ts", ".vue"]
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".js", ".ts"],
      "project": "./tsconfig.json"
    }
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "indent": 0
      }
    }
  ]
}
