:root {
  /* 变量 */
  /* 全局 */
  --u-border-radius: 4px;
  --u-sash-width: 1px;
  --u-sash-hover-width: 4px;
  --u-sash-fg: #abb2bf;
  --u-button-fg: #c0bdbd;
  --u-button-bg: #30333d;
  --u-button-hover-fg: #c0bdbd;
  --u-button-hover-bg: #404754;
  --u-icon-fg: #b9bfca;
  --u-icon-bg: transparent;
  --u-icon-hover-fg: #abb2bf;
  --u-icon-hover-bg: hsl(240, 19%, 7%);
  --u-scroll-bar: #4e566660;
  --u-scroll-bar-hover: #5a637580;
  --u-scroll-track: transparent;
  --u-scroll-track-hover: #747d9180;
  --u-form-fg: hsl(0, 0%, 67%);
  --u-form-bg: #1d1f23;
  --u-form-hover-fg: hsl(0, 0%, 47%);
  --u-form-hover-bg: hsl(240, 19%, 22%);
  --u-form-active-fg: hsl(0, 0%, 27%);
  --u-form-active-bg: hsl(240, 19%, 12%);
  --u-form-disable-fg: hsl(0, 0%, 62%);
  --u-form-disable-bg: hsl(240, 19%, 27%);
  --u-form-outline-bg: #c0bdbd65;
  /* 组件 */
  --u-titleBar-active-fg: #9da5b4;
  --u-titleBar-active-bg: #23272e;
  --u-titleBar-inactive-fg: #6b717d;
  --u-titleBar-inactive-bg: #1e2227;
  --u-statusBar-fg: #9da5b4;
  --u-statusBar-bg: #1e2227;
  --u-statusBar-hover-fg: #9da5b4;
  --u-statusBar-hover-bg: #2c313a;
  --u-activityBar-fg: #d7dae0;
  --u-activityBar-bg: #23272e;
  --u-activityBar-active-fg: #abb2bf;
  --u-activityBar-active-bg: hsl(240, 19%, 12%);
  --u-activityBar-hover-fg: hsl(0, 0%, 42%);
  --u-activityBar-hover-bg: hsl(240, 19%, 17%);
  --u-activityBar-divider-fg: hsl(0, 0%, 67%);
  --u-browser-fg: #abb2bf;
  --u-browser-bg: #1e2227;
  --u-browser-title-fg: #abb2bf;
  --u-browser-title-bg: #23272e;
  --u-browser-item-fg: #d7dae0;
  --u-browser-item-bg: #2c313a;
  --u-browser-item-active-fg: #323842;
  --u-browser-item-active-bg: #f0f0f0;
  --u-browser-item-hover-fg: #ffffff;
  --u-browser-item-hover-bg: #2c313a;
  --u-browser-item-drag-fg: #d7dae0;
  --u-browser-item-drag-bg: #323842;
  --u-browser-indent-fg: #c8c8c859;
  --u-browser-indent-inactive-fg: #3b4048;
  --u-palette-bg: hsl(240, 19%, 22%);
  --u-palette-fg: hsl(0, 0%, 47%);
  --u-workbench-fg: #abb2bf;
  --u-workbench-bg: #23272e;
  --u-workbench-tab-fg: #23272e;
  --u-workbench-tab-bg: #1e2227;
  --u-workbench-tab-active-fg: #dcdcdc;
  --u-workbench-tab-active-bg: #23272e;
  --u-workbench-tab-hover-fg: #dcdcdc;
  --u-workbench-tab-hover-bg: #323842;
  --u-workbench-tab-drag-fg: hsl(0, 0%, 49%);
  --u-workbench-tab-drag-bg: hsl(240, 19%, 24%);
  --u-workbench-tab-divider-h-bg: #181a1f;
  --u-workbench-tab-divider-v-bg: #181a1f;
  --u-workbench-panel-fg: #dcdcdc;
  --u-workbench-panel-bg: #1e2227;
  --u-workbench-panel-title-fg: #abb2bf;
  --u-workbench-panel-title-bg: hsl(240, 19%, 12%);
  --u-workbench-toc-hover-fg: #b9bfca;
  --u-workbench-toc-hover-bg: hsl(240, 19%, 17%);
  --u-workbench-info-tag-fg: #b9bfca;
  --u-workbench-info-tag-bg: hsl(240, 19%, 17%);
  --u-workbench-info-tag-hover-fg: #abb2bf;
  --u-workbench-info-tag-hover-bg: hsl(240, 19%, 12%);
}
