/* Styles for components */

.unitext-button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  padding: 0.3em 0.4em;
  text-align: center;
  vertical-align: baseline;
  color: var(--u-button-fg);
  background-color: var(--u-button-bg);
  border-radius: var(--u-border-radius);

  &:hover {
    color: var(--u-button-hover-fg);
    background-color: var(--u-button-hover-bg);
  }
}

.unitext-icon {
  cursor: pointer;
  text-align: center;
  padding: 2px;
  color: var(--u-icon-fg);
  background-color: var(--u-icon-bg);
  border-radius: var(--u-border-radius);

  &:hover {
    color: var(--u-icon-hover-fg);
    background-color: var(--u-icon-hover-bg);
  }
}
