/* Styles for components */

.unitext-button {
  cursor: pointer;
  color: var(--button-Fg);
  background: var(--button-Bg);
  border-color: transparent;
  outline-style: none;
  user-select: none;
  padding: 0.3em 0.4em;
  text-align: center;
  vertical-align: baseline;

  &:hover {
    color: var(--button-hoverFg);
    background: var(--button-hoverBg);
  }
}
