@import "./var.less";

body {
  margin: 0;
  overflow-y: hidden;

  // DEV 校验样式粒度
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: @interface-font-family;
}

/* Clear default styles */

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  border: 0px;
  outline-style: none;
}

/* Styles for components */

.unitext-resize {
  width: 2px;
  height: 100%;
  cursor: col-resize;
  background: var(--titleBar-activeBg);
}

.unitext-button {
  cursor: pointer;
  color: var(--button-Fg);
  background: var(--button-Bg);
  border-color: transparent;
  outline-style: none;
  user-select: none;
  padding: 0.3em 0.4em;
  text-align: center;
  vertical-align: baseline;

  &:hover {
    color: var(--button-hoverFg);
    background: var(--button-hoverBg);
  }
}

/* Styles for ScrollBar */

::-webkit-scrollbar {
  width: @scrollBar-width;
  height: @scrollBar-width;
  border-radius: 1px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scroll-track {
  display: none;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollBar-Bg);
  border-radius: 1px;

  &:hover {
    background: var(--scrollBar-hoverBg);
  }
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}
