@import "./vars.less";
@import "./components.less";

body {
  margin: 0;
  font-size: 14px;
  font-family: "PingFang SC", "-apple-system", "SF UI Text", "Lucida Grande", "STheiti", "Microsoft YaHei", "sans-serif";
}

/* Clear default styles */

div,
input,
ol,
ul,
li,
a {
  box-sizing: border-box;
  line-height: @line-height-normal;
}

ol,
ul,
figure {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

input,
select,
summary,
textarea {
  margin: 0;
  padding: 0;
  border: 0px;
  outline-style: none;
}

/* Styles for ScrollBar */

::-webkit-scrollbar {
  width: @scrollBar-width;
  height: @scrollBar-width;
  border-radius: 1px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scroll-track {
  display: none;
  background-color: var(--u-scroll-track);

  &:hover {
    background-color: var(--u-scroll-track-hover);
  }
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: var(--u-scroll-bar);

  &:hover {
    background-color: var(--u-scroll-bar-hover);
  }
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}
