/* -------------------------- Fonts -------------------------- */

@interface-font-family: "PingFang SC", "-apple-system", "SF UI Text", "Lucida Grande",
  "STheiti", "Microsoft YaHei", "sans-serif";
@normal-font-family: "Source Code Pro", "STZhongSong", "PingFang SC";
@char-font-family: "STZhongSong", "PingFang SC", "Microsoft YaHei";
@code-font-family: "Source Code Pro", "Monaco", "Consolas", "Menlo", "Courier New",
  "monospace";

/* -------------------------- Layout --------------------------*/

@layout-titleBar-height: 22px;
@layout-leftSide-left-width: 44px;
@layout-leftSide-right-width: 180px;
@layout-rightSide-bar: 150px;
@layout-statusBar-height: 24px;

/* ------------------------ Appearance ------------------------- */

/* TitleBar */
@titleBar-font-size: 13px;

/* SideBar */
@sideBar-header-height: 25px;
@sideBar-item-height: 1.5rem;

/* TabBar */
@tabBar-height: 25px;
@tabBar-underline-width: 1px;

/* WorkBench */
@preview-font-size: 15px;

/* StatusBar */

/* -------------------------- Widgets -------------------------- */

/* ScrollBar */
@scrollBar-width: 8px;

/* SidePanel */
@span-major: 1.4rem;
@span-minor: 1rem;
@span-common: 0.8rem;
@span-remark: 0.7rem;
