@import "~@/renderer/styles/var.less";

.code {
  font-size: 1.2em;
  font-weight: 500;
  font-family: @code-font-family;
}

.option {
  margin-top: 5px;
  display: flex;
  flex-direction: column;

  input[type="text"] {
    max-width: 30em;
  }
}
