@icon-size: 18px;
@line-height: 24px;

input,
select,
textarea {
  font-size: 14px;
  padding: 2px;
}

input,
select {
  height: @line-height;
  font-size: 14px;
  color: var(--inputBox-Fg);
  background: var(--inputBox-Bg);
}
