@icon-size: 18px;
@line-height: 24px;

input,
select,
textarea {
  font-size: 14px;
  padding: 2px;
}

input,
select {
  height: @line-height;
  font-size: 14px;
  color: var(--u-form-fg);
  background-color: var(--u-form-bg);
  border: 1px solid var(--u-form-outline-bg);
  border-radius: var(--u-border-radius);
}
