@primary-color: #555;
@primary-bg: #f7f6f6;

/* 以下为新增 */

@interface-font-family: "PingFang SC", "-apple-system", "SF UI Text", "Lucida Grande",
  "STheiti", "Microsoft YaHei", "sans-serif";
@normal-font-family: "Source Code Pro", "STZhongSong", "PingFang SC";
@char-font-family: "STZhongSong", "PingFang SC", "Microsoft YaHei";
@code-font-family: "Source Code Pro", "Monaco", "Consolas", "Menlo", "Courier New",
  "monospace";

/* Layout */
@layout-top-bar: 22px;
@layout-leftSide-left-column: 45px;
@layout-leftSide-right-column: 180px;
@layout-rightSide-bar: 150px;
@layout-bottom-bar: 24px;

/* TabBar */
@tab-height: 25px;
@tab-boxshadow: 1px;

/* WorkBench */
@preview-font-size: 15px;

/* ResizeBar */
@resize-bar: 1px solid rgba(216, 216, 216, 0.4); // DEV

/* Transition */
@width-transition: width ease-in-out 0.2s;
